* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}

/* This is the header section */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  place-items: center;
  padding: 1rem;
  background-color: #00a2db;
  color: #fff;
}

.header h1 {
  font-family: "Merienda";
  font-size: 24px;
}

.modal-wrapper {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(4px);
  padding: 2rem;
}

.modal-container {
  background-color: white;
  padding: 2rem 3rem;
  position: relative;
  border-radius: 6px;
}

.modal-close-button {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 40%;
  height: 18px;
  width: 18px;
}

.sign-btn {
  background-color: #00a2db;
  color: #fff;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 0.3rem 1rem;
  margin-left: 1rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 200ms;
}

.sign-btn:hover {
  background-color: #fff;
  color: #00a2db;
}

.header-account {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  /* justify-content: flex-end; */
}

/* This is the main section */

.main {
  display: grid;
}

.landing-page__renter-section {
  height: 30vh;
  display: grid;
  gap: 1rem;
  place-content: center;
  padding-right: 27vw;
  color: #fff;

  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(./assets/images/realestate.png);
  background-position: center;
  background-size: cover;
}

.landing-page__renter-section,
.landing-page__landlord-section p {
  font-weight: 600;
}

.landing-page__renter-section h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

.renter-section__search-btn input {
  background-color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  height: 30px;
  border: transparent;
  transition: 200ms;
  font-size: 1rem;
}

.renter-section__search-btn input:focus {
  outline: none;
  box-shadow: 1px 1px 1px 0.5px #00a2db;
}

.renter-section__search-btn button {
  background-color: #fff;
  color: #00a2db;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 200ms;
}

.renter-section__search-btn button:hover {
  color: #ff337a;
  box-shadow: 1px 1px 1px 0.5px #ff337a;
}

.landing-page__landlord-section {
  height: 30vh;
  display: grid;
  gap: 1rem;
  place-content: center end;
  padding-right: 20vw;
  justify-items: end;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(./assets/images/commercial-property.jpg);
  background-position: center 80%;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page__landlord-section h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

.landing-page__landlord-section button {
  background-color: #fff;
  height: 30px;
  color: #00a2db;
  font-weight: 600;
  font-size: 15px;
  border: 2px solid #fff;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 200ms;
}

.landing-page__landlord-section button:hover {
  color: #ff337a;
  box-shadow: 1px 1px 1px 0.5px #ff337a;
}

.landing-page__description-section {
  display: grid;
  place-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f2f7fa;
  gap: 3rem;
}

.landing-page__description-section h3 {
  text-align: center;
  font-weight: 600;
  font-size: 2.2rem;
}

.features {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2rem;
}

.feature-card {
  width: 370px;
  overflow-wrap: normal;
  display: grid;
  gap: 1.5rem;
  place-items: center;
  text-align: center;
}

.feature-card h4 {
  font-weight: 600;
  font-size: 1.5rem;
}

/* This is the footer section */

.footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 7fr;
  height: 250px;
  background-color: #392f5a;
  color: #6494aa;
}

.footer__sidebar {
  display: grid;
  align-content: space-between;
  grid-template-rows: 1fr auto;
  border-right: 1px solid #6494aa;
}

.footer__sidebar__text {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1rem;
  padding: 10px;
}

.footer__sidebar__text h2 {
  font-size: 30px;
  filter: brightness(1.2);
}

.footer__sidebar__text h3 {
  font-size: 16px;
  filter: brightness(1.2);
}

.footer__sidebar__socials {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border-top: 1px solid #6494aa;
  margin: 0px 40px;
}

.footer__sidebar__socials a {
  text-decoration: none;
}

.footer__sidebar__socials a:hover {
  filter: contrast(1.4);
}

.socials-container img {
  width: 30px;
}

.footer__navigation-container {
  display: grid;
  align-content: space-between;
  padding: 10px 0px;
  grid-template-rows: 1fr auto;
}

.footer__nav-menus-section {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 5rem;
}

.footer__nav-menu {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.footer__nav-menu h3 {
  font-size: 22px;
  filter: brightness(1.1);
}

.footer__nav-menu li {
  font-size: 16px;
}

.footer__bottom-notes {
  display: grid;
  place-items: center;
  gap: 0.7rem;
  padding: 0.8rem;
  border-top: 1px solid #6494aa;
  margin: 0px 40px;
}

.legal-notes__items {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 2rem;
}

.footer__navigation-container a {
  text-decoration: none;
  color: inherit;
}

.footer__navigation-container li {
  list-style: none;
}

.footer__navigation-container li:hover {
  filter: brightness(1.5);
}

/* This is the main section of the search page */

.search-page__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  padding: 1rem;
  place-items: center;
  width: 60vw;
  margin: 0 auto;
}

.search-page__sidebar-div {
  height: 100%;
}

.sidebar-filter-section {
  width: 250px;
  display: grid;
  gap: 1rem;
}

.search-options-box {
  display: grid;
  place-content: center;
  padding: 1rem;
  background-color: #febb02;
  border-radius: 5px;
}

.search-form {
  display: grid;
  gap: 0.8rem;
  place-content: start center;
}

.search-form h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.search-form label {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
}

.search-form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4rem;
  font-size: 14px;
  font-weight: 400;
}

.search-form select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4rem;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.search-form button {
  background-color: #00a2db;
  height: 40px;
  color: #fff;
  font-weight: 200;
  font-size: 15px;
  border: 1px solid #00a2db;
  border-radius: 6px;
  cursor: pointer;
  transition: 200ms;
}

.search-form button:hover {
  filter: brightness(0.95);
}

.filter-options-box {
  border: 1.5px solid #bdbdbd;
  display: grid;
  gap: 1rem;
  place-content: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
}

.filter-options-box hr {
  width: 115%;
  text-align: center;
  margin-left: -10px;
}

.filter-options-box h2 {
  font-size: 1rem;
  font-weight: 700;
}

.filter-options-box h3 {
  font-size: 0.9rem;
  font-weight: 700;
}

.filter-budget-btns {
  display: grid;
  gap: 1rem;
}

.properties-list-section {
  width: 650px;
  align-self: flex-start;
  justify-self: flex-start;

  display: grid;
  gap: 1rem;
}

.properties-list-heading {
  display: grid;
  gap: 1.3rem;
  padding: 1rem 0;
  background-color: #fff;
  border-radius: 5px;
}

.properties-list-heading h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.properties-list-heading select {
  border: 2px solid #00a2db;
  width: 220px;
  border-radius: 15px;
  padding: 0.4rem;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.properties-list-heading select:hover {
  filter: brightness(0.97);
}

.properties-list-heading select:focus {
  outline: none;
}

/* This is the search results list display section */

.property-item-card {
  border: 1.5px solid #bdbdbd;
  border-radius: 3px;
  padding: 1rem;
  height: 200px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.property-item-card img {
  height: 169px;
  border-radius: 3px;
}

.property-item-card__info {
  display: grid;
  gap: 1rem;
}

.card__info__upper {
  display: grid;
}

.card__info__upper h3 {
  font-size: 20px;
  color: #00a2db;
}

.card__info__upper p {
  font-size: 14px;
  font-weight: 500;
}

.card__info__bottom {
  display: grid;
  justify-items: right;
}

.months-to-pay {
  font-size: 13px;
}

.card__info__bottom button {
  padding: 5px;
  background-color: #00a2db;
  border: #00a2db;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
